<div class="container">
    <div class="footer__wrap">
        <div class="row row-cols-5 row-cols-lg-1 gy-lg-3">
            <div class="col-3">
                <div class="footer__item">
                    <a href="#!" class="logo">
                        <img src="./assets/icons/logo.svg" alt="" class="logo__img">

                        <h1 class="logo__title">grocerymart</h1>
                    </a>

                    <p class="footer__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, maxime et veniam eligendi rem voluptatibus.
                    </p>

                    <p class="footer__text">Receive product news and updates.</p>

                    <form action="" class="footer__form">
                        <input type="email" class="footer__form-input" placeholder="Email address" required>

                        <button type="submit" class="btn btn__footer">SEND</button>
                    </form>
                </div>
            </div>

            <div class="col-2">
                <div class="footer__item">
                    <h3 class="footer__heading">SHOP</h3>

                    <div class="footer__list">
                        <ul>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">All Departments</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Fashion Deals</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Electronics Discounts</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Home & Living Specials</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Beauty Bargains</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="footer__item">
                    <h3 class="footer__heading">SUPPORT</h3>

                    <div class="footer__list">
                        <ul>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Store locator</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Order status</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="footer__item">
                    <h3 class="footer__heading">COMPANY</h3>

                    <div class="footer__list">
                        <ul>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Customer Service</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Terms of Use</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Privacy</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Careers</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">About</a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#!" class="footer__list-link">Affiliates</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="footer__item">
                    <h3 class="footer__heading">CONTACT</h3>

                    <div class="footer__group">
                        <label class="footer__group-label">Email</label>

                        <a href="mailto:contact@grocerymart.com" class="footer__group-link">contact@grocerymart.com</a>
                    </div>

                    <div class="footer__group">
                        <div class="footer__group-label">Hotline</div>

                        <a href="tel:18008888" class="footer__group-link">18008888</a>
                    </div>

                    <div class="footer__group">
                        <div class="footer__group-label">Address</div>

                        <div class="footer__group-address">No. 11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City. Hanoi</div>
                    </div>

                    <div class="footer__group">
                        <div class="footer__group-label">Hours</div>

                        <div class="footer__group-time">M - F 08:00am - 06:00pm</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2025 Grocery Mart. All rights reserved.</p>

            <div class="footer__social">
                <a href="#!" class="footer__social-img">
                    <img src="./assets/icons/facebook.svg" alt="" class="footer__social-img__icon">
                </a>
                <a href="#!" class="footer__social-img">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__social-img__icon">
                </a>
                <a href="#!" class="footer__social-img">
                    <img src="./assets/icons/instagram.svg" alt="" class="footer__social-img__icon">
                </a>
                <a href="#!" class="footer__social-img">
                    <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-img__icon">
                </a>
                <a href="#!" class="footer__social-img">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__social-img__icon">
                </a>
            </div>
        </div>
    </div>
</div>