@use "../abstract";
.review{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    padding: 30px;
    height: 100%;

    border-radius: 16px;
    background: var(--review-bg-color);

    &__inner{
        display: flex;
        align-items: center;
        gap: 20px;

        @include abstract.screen(xl){
            flex-direction: column;
        }

        @include abstract.screen(md){
            flex-direction: row;
        }
    }

    &__name{
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;
        white-space: nowrap;

        @include abstract.screen(xl){
            text-align: center;
        }

        @include abstract.screen(md){
            text-align: start;
        }
    }

    &__desc{
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 150%;
    }

    &__group{
        display: flex;
        align-items: center;
        gap: 20px;

        margin-top: auto;

        @include abstract.screen(xl){
            flex-direction: column;
            align-items: start;
        }

        @include abstract.screen(md){
            flex-direction: row;
            align-items: center;
        }
    }
}